

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
    display: block;
  max-width: 100%;
}

.timer {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  
}

.value {
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  border: solid #212121 2px;
  border-radius: 5px;

}

.field > .label{
  text-align: center;
  font-size: 24px;
}